body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90dvh;
  user-select: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.select {
  width: 250px;
}

.input {
  width: 250px;
}

@media screen and (max-width: 768px) {
  .input-container {
    flex-direction: column;
  }
}
